h2{
  text-align: center;
  word-wrap: break-word;
}
h3{
  text-align: center;
  word-wrap: break-word;
}
h4{
  text-align: center;
  word-wrap: break-word;
}
p{
  text-align: left;
  word-wrap: break-word;
}
img{
  display: block;
  margin: 0 auto;
}
.outercolumn{
  background: aliceblue;
  border: 1px solid blue;
  margin: 10px 0;
}

.column2{
  background: lightpink;
  border: 1px solid pink;
  margin: 10px 0;
}
